@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.image-app{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.skeleton {
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

.animate-pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }
}

.react-resizable-handle{
    display: none;
}

